@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  /* border: 1px solid red; */
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --red-color: rgb(155, 10, 10);
  --gray-color: rgb(214, 214, 214);
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

aside {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 100%;
  background-image: url("../assets/images/spooky_forest_alex_foret.jpg");
  background-size: cover;
  background-position: 50% 70%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  word-wrap: break-word;
  font-size: 2rem;
}

.title span {
  font-family: "Nosifer", cursive;
  color: var(--red-color);
}

.logo {
  width: 5em;
}

main,
form div,
.footer {
  display: flex;
  flex-direction: column;
}

main {
  width: 70vw;
  justify-content: space-around;
  background-color: rgb(224, 224, 224);
}

.header,
.footer {
  padding: 2em 3em 2em 3em;
}

.header > h1 {
  font-size: 1.5em;
}

.register-form {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: start;
  gap: 20px 100px;
}
/* 
form div {
  width: calc(100vw / 6);

  margin-right: 1.4em;
} */

form label {
  font-weight: bold;
  color: var(--red-color);
}

input {
  border: 2px solid var(--gray-color);
  border-radius: 0.2rem;
  height: 1.5rem;
  width: 100%;
  padding: 5px 10px 5px 10px;
  color: var(--red-color);
}

input::placeholder {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

#error {
  font-size: 0.8rem;
  padding-top: 5px;
  color: red;
}

.footer {
  justify-content: center;
  align-items: flex-start;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 5px;
}

button {
  width: 10em;
  padding: 10px;
  color: var(--red-color);
  font-weight: bold;
  font-size: 1.1rem;
  background-color: white;
  border: 2px solid var(--gray-color);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--red-color);
  transition: 0.3s ease-out;
  transform: scale(1.1);
  color: white;
}

.login {
  text-decoration: none;
  color: red;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  aside {
    height: 20vh;
    width: 100vw;
  }

  main {
    width: 100vw;
    height: 80vh;
  }

  .register-form {
    justify-content: center;
  }

  .input-container {
    justify-content: center;
  }

  .footer {
    align-items: center;
    padding-bottom: 5em;
  }
}

@media only screen and (max-width: 600px) {
  .input-container {
  }
}
