@import url("https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  /* border: 1px solid red; */
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --red-color: rgb(155, 10, 10);
  --gray-color: rgb(214, 214, 214);
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

aside {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 100%;
  background-image: url("../assets/images/spooky_forest_alex_foret.jpg");
  background-size: cover;
  background-position: 50% 70%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  word-wrap: break-word;
}

.title span {
  font-family: "Nosifer", cursive;
  color: var(--red-color);
}

.logo {
  width: 80px;
}

main,
form div,
.footer {
  display: flex;
  flex-direction: column;
}

main {
  width: 70vw;
  background-color: rgb(224, 224, 224);
}

.header,
.footer {
  flex: 1;
  padding: 2em 3em 2em 3em;
}

.register-form {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 400px));
  max-width: 100%;
  justify-content: start;
  align-items: start;
  background-color: #fff;
  padding: 3em 3em 0 3em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form div {
  width: calc(100vw / 6);
}

form label {
  font-weight: bold;
  color: var(--red-color);
}

input {
  border: 2px solid var(--gray-color);
  border-radius: 0.2rem;
  height: 1.5rem;
  padding: 5px 10px 5px 10px;
  color: var(--red-color);
}

#error {
  font-size: 0.8rem;
  padding-top: 5px;
  color: red;
}

.footer {
  justify-content: center;
  align-items: flex-start;
}

.footer p {
  font-size: 0.8rem;
  margin-left: 5px;
}

button {
  width: 10em;
  padding: 10px;
  color: var(--red-color);
  font-weight: bold;
  font-size: 1.1rem;
  background-color: white;
  border: 2px solid var(--gray-color);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--red-color);
  transition: 0.3s ease-out;
  transform: scale(1.1);
  color: white;
}

.login {
  text-decoration: none;
  color: red;
}
